/*
 *= require font-awesome
 */
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 font-family: 'Tenor Sans', sans-serif;
 background-color:  	#f7f7f7;
 }

* {
  box-sizing: border-box;
}


 /* Add a green background colour for nav background */
 .topnav {
 background-color: #008000;
 overflow: hidden;
 }

 /* Style the links inside the navbar */
 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 /* Change the colour of the links on hover */
 .topnav a:hover {
   background-color: #006400;
   color: white;
 }

 /* Add a colour to the active/current link */
 .topnav a.active {
   background-color: #4CAF50;
   color: white;
 }

/* Input container style */
.topnav .search-container{
  float: left;
}

/* Style the input field inside the container */
.topnav input[type=text]{
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

/* Style the search field */
form.search-field input[type=text]{
  padding: 6px;
  font-size: 17px;
  border: 1px solid grey;
  float:left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the button inside the input container */
form.search-field button{
  float: left;
  width: 9%;
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  background: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /*prevent double borders*/
  cursor: pointer;
}

form.search-field button:hover{
  background: #32CD32;
}

.topnav .serach-container button:hover{
  background: #ccc;
}

/* Style the facebook icon */
.fa-facebook{
  color:white;
  /* background-image: linear-gradient(to bottom, transparent 20%, white 20%, white 93%, transparent 93%);
  background-size: 100%;
  background: 70%;
  background-repeat: no-repeat; */
}

/* Clear floats */
form.search-field::after{
  content: "";
  clear: both;
  display: table;
}

/* Add responsiveness - On small screens, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px){
  .topnav .search-container{
    float: none;
  }

  .topnav a, .topnav input[type=text], .topnav .search button{
    float:none;
    display: block;
    text-align: left;
    width: 100%;
    margin; 0;
    padding: 14px;
  }

  .topnav input[type=text]{
    border: 1px solid #ccc;
  }
}
