#wall-name {
  margin: 5vh 5vw;
}

/* new post form */
#new-post {
  display: flex;
  flex-direction: column;
  margin: 5vh 5vw;
}

textarea {
   padding: 1vh 1vw;
   margin: 1vh 1vw;
   width: 80vw;
 }

#new_post input[type="submit"] {
  margin: 0;
}

#posts-feed {
  display: flex;
  flex-direction: column;
  margin: 5vh 5vw;
}

/* individual posts */
.post {
  margin: 2vh 0vw;
  padding: 2vh 2vw;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.post_datetime {
  font-size: 12px;
}

/* 'edit' button */
.btn {
 background-color: #4CAF50;
}

.btn.error_message {
  background-color: #d9d9d9;
  color: #999999;
}

.btn:hover {
   background-color: #008000;
 }

/* modal */
.modal-content {
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  padding: 0;
  border: none;
}

.form-group {
  margin: 2vh 0vw;
}

/* submit button in modal */
#SaveUpdate {
  margin: 0;
}

#SaveUpdate:hover {
   background-color: #008000;
 }



